# Python Built-In Data Structures

## Lists

In [1]:
TAs = ["Flo", "Anne"]

In [2]:
type(TAs)

list

In [3]:
TAs[1]

'Anne'

In [4]:
TAs[2]

IndexError: list index out of range

In [5]:
LT = "Rafa"

In [6]:
Teachers = TAs + [LT]

In [7]:
Teachers

['Flo', 'Anne', 'Rafa']

In [8]:
len(Teachers)

3

#### Indexing, slicing, appending

In [9]:
for teacher in Teachers:
    print(teacher + " is a cool teacher")

Flo is a cool teacher
Anne is a cool teacher
Rafa is a cool teacher

#### Iterating through lists

In [18]:
students = ["tobias hegewald","srinivasan narayanan", "silvia delgado abendano" , 
            "shushanik hakobyan hakobyan" , "rene stuedemann", 
            "raphael weidemann" , "peter ludas" , 
            "niranjan shrikant kondo", "nelson lage" , 
            "mercedes santana rodriguez", "marie rodov" , 
            "luca hein","inga eichhorn" ,
            "hong kiu cheng" , "henrike sahnwaldt","enrique hernani ros","emma baker reynolds",
            "edu jockers","dwie steffyanti","denny meyer","carlos martinez","carla colomer",
            "bianca macedo richa","rand abu ajamia"]

In [19]:
students

['tobias hegewald',
 'srinivasan narayanan',
 'silvia delgado abendano',
 'shushanik hakobyan hakobyan',
 'rene stuedemann',
 'raphael weidemann',
 'peter ludas',
 'niranjan shrikant kondo',
 'nelson lage',
 'mercedes santana rodriguez',
 'marie rodov',
 'luca hein',
 'inga eichhorn',
 'hong kiu cheng',
 'henrike sahnwaldt',
 'enrique hernani ros',
 'emma baker reynolds',
 'edu jockers',
 'dwie steffyanti',
 'denny meyer',
 'carlos martinez',
 'carla colomer',
 'bianca macedo richa',
 'rand abu ajamia']

#### Print students with names starting with e

In [20]:
for student in students:
    if student[0] == "e":
        print(student)

enrique hernani ros
emma baker reynolds
edu jockers

#### Create two lists: "student_names" and "student_surnames"

In [25]:
students_names = []

In [26]:
students_surnames = []

In [28]:
for student in students:
        student_split = student.split()
        students_names.append(student_split[0])
        students_surnames.append(student_split[1])

In [29]:
students_names

['tobias',
 'srinivasan',
 'silvia',
 'shushanik',
 'rene',
 'raphael',
 'peter',
 'niranjan',
 'nelson',
 'mercedes',
 'marie',
 'luca',
 'inga',
 'hong',
 'henrike',
 'enrique',
 'emma',
 'edu',
 'dwie',
 'denny',
 'carlos',
 'carla',
 'bianca',
 'rand']

In [30]:
students_surnames

['hegewald',
 'narayanan',
 'delgado',
 'hakobyan',
 'stuedemann',
 'weidemann',
 'ludas',
 'shrikant',
 'lage',
 'santana',
 'rodov',
 'hein',
 'eichhorn',
 'kiu',
 'sahnwaldt',
 'hernani',
 'baker',
 'jockers',
 'steffyanti',
 'meyer',
 'martinez',
 'colomer',
 'macedo',
 'abu']

#### Print the surname for "bianca".

In [32]:
students_names.index("bianca")

22

In [33]:
students_surnames[students_names.index("bianca")]

'macedo'

<b>user input

In [34]:
print(students_names)
input("Select one fot the names in the list:")

['tobias', 'srinivasan', 'silvia', 'shushanik', 'rene', 'raphael', 'peter', 'niranjan', 'nelson', 'mercedes', 'marie', 'luca', 'inga', 'hong', 'henrike', 'enrique', 'emma', 'edu', 'dwie', 'denny', 'carlos', 'carla', 'bianca', 'rand']
Select one fot the names in the list:edu

'edu'

## Dictionaries

#### Accessing keys & values

In [35]:
ages = {"Flo":18, "Rafa":19, "Anne":33}

In [36]:
ages

{'Flo': 18, 'Rafa': 19, 'Anne': 33}

In [37]:
ages.keys()

dict_keys(['Flo', 'Rafa', 'Anne'])

In [39]:
list(ages.keys())

['Flo', 'Rafa', 'Anne']

In [40]:
ages.values()

dict_values([18, 19, 33])

In [41]:
ages["Flo"]

18

In [42]:
len(ages)

3

In [43]:
ages.items()

dict_items([('Flo', 18), ('Rafa', 19), ('Anne', 33)])

#### Iterate through dictionary

In [46]:
for key,value in ages.items():
    
    print(key + " " + str(value))

Flo 18
Rafa 19
Anne 33

#### Nested dictionaries

Create a dictionary of teachers. For it teacher, it stores their age, role and the city where they live.

In [47]:
teachers_dict = {
"Raafat":{
"age": 19,
"role":"LT",
"city_residence":"Berlin"
},
"Flo":{
"age":18,
"role":"TA",
"city_residence":"Cologne"
},
"Anne":{
"age":33,
"role":"TA",
"city_residence":"Berlin"
}
}

In [48]:
teachers_dict["Raafat"]

{'age': 19, 'role': 'LT', 'city_residence': 'Berlin'}

In [49]:
teachers_dict["Raafat"]["age"]

19

#### Print only name of teachers who live in Berlin

In [54]:
for key,value in teachers_dict.items():
    
    if value["city_residence"] == "Berlin":
        
        print(key + " lives in Berlin.")

Raafat lives in Berlin.
Anne lives in Berlin.

## Tuples

In [60]:
teachers_tuple = tuple(Teachers)

In [61]:
teachers_tuple[1]

'Anne'

In [62]:
teachers_tuple[1] = "Pep"

TypeError: 'tuple' object does not support item assignment

## Sets

#### Take a random sample (with replacement) of 100 numbers from 1 to 100:

What is the expected proportion of unique elements when taking samples with replacement of the same size of the population?

Too soon for statistics: take a hacker approach - repeat the operation a few thousand times and report the average.

In [84]:
import statistics

In [85]:
random_numbers = []

for in range(100):
    
    random_numbers.append(random.randint(1,100))

SyntaxError: invalid syntax (Temp/ipykernel_10492/1260615849.py, line 3)

### Set items are immutable

In [65]:
set1 = {1,2,3}

In [66]:
set2 = {1,2,[1,2]} 
# Set elements should be immutable.

TypeError: unhashable type: 'list'

In [67]:
set3 = {1,2,(1,2)}

### set union

In [68]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

In [69]:
z

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [70]:
zz = x.intersection(y)

In [71]:
zz

{'apple'}

In [73]:
x = (1, 2, 3, 4, 5, 6, 6, 6)

In [75]:
set(x) # Perfect to remove duplicates

{1, 2, 3, 4, 5, 6}